@model IEnumerable<OA_Data.Product>
@{
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Pro_Description
            </th>
            <th>
                Pro_Qty
            </th>
            <th>
                Pro_Price
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.Pro_Name
                </td>
                <td width="10%">
                    @obj.Pro_Description
                </td>
                <td width="10%">
                    @obj.Pro_Qty
                </td>
                <td width="10%">
                    @obj.Pro_Price
                </td>
                <td width="10%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Details</a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-warning mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
